Source: linux-android-xiaomi-marble
Section: kernel
Priority: optional
Maintainer: Droidian porters <info@droidian.org>
XS-Droidian-Host-Arch: arm64
XS-Droidian-Build-On: amd64
XS-Droidian-Compact-Changelog: yes
Build-Depends: build-essential,
 dpkg-dev,
 findutils,
 android-platform-prebuilts-python-linux-x86-2.7.5 [amd64],
 debhelper (>= 13),
 debhelper-compat (= 13),
 bc,
 rsync,
 kmod,
 cpio,
 bison,
 flex,
 libssl-dev,
 linux-initramfs-halium-generic,
 linux-packaging-snippets,
 android-sdk-ufdt-tests,
 mkbootimg (>= 10.0.0),
 mkdtboimg,
 avbtool,
 lz4,
 clang-android-12.0-r416183b,
 linux-initramfs-halium-generic:arm64,
 binutils-aarch64-linux-gnu,
 gcc-4.9-aarch64-linux-android,
 g++-4.9-aarch64-linux-android,
 libgcc-4.9-dev-aarch64-linux-android-cross
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/Halhadus/android_kernel_xiaomi_marble
Vcs-Git: https://github.com/Halhadus/android_kernel_xiaomi_marble.git

Package: linux-image-5.10.236-xiaomi-marble
Architecture: arm64
Depends: ${misc:Depends}
Description: Linux kernel for POCO F5
 This package contains the Linux kernel for the POCO F5 device.
 .
 Note: This package only ships the kernel image and modules; use the
 linux-bootimage-5.10.236-xiaomi-marble package for an Android boot image.

Package: linux-bootimage-5.10.236-xiaomi-marble
Architecture: arm64
Pre-Depends: flash-bootimage (>= 4)
Depends: ${misc:Depends},
 linux-image-5.10.236-xiaomi-marble (= ${binary:Version})
Description: Linux kernel for POCO F5 - Android Boot Image
 This package contains the Linux kernel for the POCO F5 device.
 .
 Note: This package ships an Android Boot Image bundled with Halium's
 LZ4-compressed initramfs.

Package: linux-headers-5.10.236-xiaomi-marble
Architecture: arm64
Depends: ${misc:Depends},
 linux-image-5.10.236-xiaomi-marble (= ${binary:Version})
Description: Linux kernel for POCO F5 - Headers
 This package contains the Linux kernel headers for the POCO F5 device.

Package: linux-image-xiaomi-marble
Architecture: arm64
Depends: linux-image-5.10.236-xiaomi-marble (= ${binary:Version})
Description: Linux kernel for POCO F5 (latest)
 This package depends on the latest kernel image available for the POCO F5.

Package: linux-bootimage-xiaomi-marble
Architecture: arm64
Depends: linux-bootimage-5.10.236-xiaomi-marble (= ${binary:Version})
Description: Linux kernel for POCO F5 - Android Boot Image (latest)
 This package depends on the latest kernel boot image available for the POCO F5.

Package: linux-headers-xiaomi-marble
Architecture: arm64
Depends: linux-headers-5.10.236-xiaomi-marble (= ${binary:Version})
Description: Linux kernel for POCO F5 - Headers (latest)
 This package depends on the latest kernel headers available for the POCO F5.
